<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @gerente_comercial.nombre %>
</p>

<p>
  <b>Comision credito(%):</b>
  <%= @gerente_comercial.comision_credito %>
</p>



<h2>Liquidaciones</h2>
<table>
  <tr>
    <th>Fecha</th>
    <th>Monto</th>
    <th>Fecha inicio</th>
    <th>Fecha final</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @liquidacion_comisions = LiquidacionComision.where("empleado_id="+@gerente_comercial.id.to_s) %>

<% @liquidacion_comisions.each do |liquidacion_comision| %>
	<% if liquidacion_comision.rol=="gerente_comercial" %>
		<tr>
		  <td><%= liquidacion_comision.fecha %></td>
		  <td><%= liquidacion_comision.monto %></td>
		  <td><%= liquidacion_comision.fecha_inicio %></td>
		  <td><%= liquidacion_comision.fecha_final %></td>
		  <td><%= link_to 'Mostrar', liquidacion_comision %></td>
	<!--
		  <td><%= link_to 'Edit', edit_liquidacion_comision_path(liquidacion_comision) %></td>
		  <td><%= link_to 'Destroy', liquidacion_comision, confirm: 'Are you sure?', method: :delete %></td>
	-->
		</tr>
	<% end %>
<% end %>
</table>




<%= link_to 'Editar', edit_gerente_comercial_path(@gerente_comercial) %> |
<%= link_to 'Atrás', gerente_comercials_path %>
