<%= form_for(@pago_cuotum) do |f| %>
  <% if @pago_cuotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago_cuotum.errors.count, "error") %> prohibited this pago_cuotum from being saved:</h2>

      <ul>
      <% @pago_cuotum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuotum_id %><br />
    <%= f.number_field :cuotum_id %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :numero_deposito %><br />
    <%= f.text_field :numero_deposito %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :revisado %><br />
    <%= f.check_box :revisado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
